#include <stdio.h>
#include <unistd.h> //Header file for sleep(). man 3 sleep for details.
#include <pthread.h>

// A normal C function that is executed as a thread
void *myThread(void *vargp)
{
	sleep(1);
	printf("0");
	///printing required output
	return NULL;
}

int main()
{
	pthread_t thread_id;
	///initializing a thread
	pthread_create(&thread_id, NULL, myThread, NULL);
	pthread_join(thread_id, NULL);
	exit(0);
}
